# Compiled source #
###################
*.o

# Compiled folders #
###################
out_bl/
out_libemucc/
out_libemudd/

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Misc #
######################
*.map
